@charset "UTF-8";
.nav {
	background-color: #000000;
	padding-top: 26px;
	padding-bottom: 24px;
	padding-left: 40px;
	color: #FFFFFF;
	text-align: left;
}
.nav-p {
	text-align: left;
	margin-left: 0px;
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
	padding-left: 40px;
	padding-top: 5px;
	display: inline;
	float: right;
	padding-right: 40px;
}
.hero {
	background-image: url(paintwave.jpg);
	padding-top: 200px;
	padding-bottom: 250px;
	background-position: center center;
	background-size: cover;
}
.rendered {
	color: #FFFFFF;
	text-align: center;
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 30px;
	font-size: 124px;
	text-shadow: 2px 2px 4px #000000;
}
.h3 {
	color: #FFFFFF;
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	letter-spacing: 8px;
	margin-bottom: -80px;
	padding-bottom: 7px;
	padding-top: 0px;
}
.h3-2 {
	text-align: center;
}
.h4 {
	text-align: center;
	color: #FFFFFF;
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 8px;
	text-shadow: 2px 2px 4px #000000;
	margin-top: -49px;
}
.hero-a {
	color: #FFFFFF;
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	letter-spacing: 9px;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 50px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.col-1 {
	width: 50%;
	float: left;
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	padding-top: 151px;
	font-size: 24px;
}
.col-1p {
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 6px;
	font-size: 24px;
}
.col-2 {
	background-image: url(goldrush.jpg);
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	width: 50%;
	height: 655px;
	background-size: cover;
}
.footer {
	clear: both;
	padding-top: 125px;
	background-image: -webkit-linear-gradient(230deg,rgba(255,213,86,1.00) 0%,rgba(255,91,127,1.00) 99.86%);
	background-image: -moz-linear-gradient(230deg,rgba(255,213,86,1.00) 0%,rgba(255,91,127,1.00) 99.86%);
	background-image: -o-linear-gradient(230deg,rgba(255,213,86,1.00) 0%,rgba(255,91,127,1.00) 99.86%);
	background-image: linear-gradient(220deg,rgba(255,213,86,1.00) 0%,rgba(255,91,127,1.00) 99.86%);
	padding-bottom: 125px;
}
.footer-img {
	margin-left: 47%;
}
.footer-p {
	text-align: center;
	color: #FFFFFF;
	font-family: inconsolata;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 4px;
	line-height: 25px;
	font-size: 12px;
}
