@charset "UTF-8";
.nav {
	background-color: #000000;
	background-repeat: no-repeat;
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 40px;
	margin-left: 0px;
}
.hero {
}
.col-1 {
}
.col-2 {
}
.footer {
}
